@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-text-color: #ed6435;
  --header-bg-color: #fee8e4;
  --header-font: "PT Sans", sans-serif;
  --main-bg-color: #faf4f2;
  --main-text-color: #6b6b6b;
  --accent-color: #45c1c7;
  --landing-header-font: "Baloo 2", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}

.button--orange {
  display: flex;
  a {
    color: #ed6435;
    background-color: #ffe6d4;
    border: transparent solid 1px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--header-font);
    padding: 13px 28px;
    margin: 0px;
    &:hover {
      animation: button-color-anim-orange 0.7s forwards;
    }
  }
}

.button--empty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 28px;
  margin: 0px;
  gap: 10px;
  border: solid 1px #45c1c7;
  border-radius: 25px;
  &:hover {
    animation: button-color-anim-empty 0.7s forwards;
    svg {
      color: #fff;
    }
    a {
      color: #fff;
    }
  }
  svg {
    color: #45c1c7;
    height: 24px;
    width: 24px;
  }
  a {
    color: #45c1c7;
    font-family: var(--header-font);
    font-size: 1rem;
    text-decoration: none;
  }
}
@keyframes button-color-anim-orange {
  from {
    background-color: #ffe6d4;
    color: #ed6435;
  }
  to {
    background-color: #b2e7e9;
    color: #45c1c7;
  }
}

@keyframes button-color-anim-empty {
  from {
    border-color: #45c1c7;
  }
  to {
    border-color: transparent;
    background-color: #45c1c7;
  }
}
